<div *ngIf="certificateRequest" id="container" class="card p-5 ">
    <div class="top-section ">
      <h5 class="certificate-alias">{{certificateRequest.subjectCommonName}} </h5>
      <!-- <p class="certificate-dates">{{parseSimpleDate(certificateRequest.startDate)}} - {{parseSimpleDate(certificateRequest.endDate)}}</p> -->
    </div>
  
    <!-- <div class="extensions my-2">
      <span *ngFor="let extension of certificateRequest.extensions" class="badge bg-secondary mx-1">{{extension}}</span>
    </div> -->
  
    <div class="bottom-section mt-3">
      <div class="subject-section mb-3">
        <p>{{certificateRequest.subjectCommonName}}, {{certificateRequest.subjectOrganization}}, {{certificateRequest.subjectOrganizationUnit}}, {{certificateRequest.subjectCountry}}</p>
        <p>{{certificateRequest.subjectEmail}}</p>
      </div>
  
      <div class="buttons">
        <button class="btn btn-primary me-2" (click)="onApproveClicked()">Approve</button>
        <button class="btn btn-danger" (click)="onDenyClicked()">Deny</button>
      </div>
    </div>
  </div>
  



  
  