<!--<div *ngIf="certificateRequest" id="container" class="card p-5 ">
    <div class="top-section ">
      <h5 class="certificate-alias">{{certificateRequest.subjectCommonName}} </h5>
    </div>
  
    <div class="bottom-section mt-3">
      <div class="subject-section mb-3">
        <p>{{certificateRequest.subjectCommonName}}, {{certificateRequest.subjectOrganization}}, {{certificateRequest.subjectOrganizationUnit}}, {{certificateRequest.subjectCountry}}</p>
        <p>{{certificateRequest.subjectEmail}}</p>
      </div>
  
      <div class="buttons">
        <button class="btn btn-primary me-2" (click)="onApproveClicked('250','250')">Approve</button>
        <button class="btn btn-danger" (click)="onDenyClicked()">Deny</button>
      </div>
    </div>
  </div> 
-->
<div *ngIf="certificateRequest" id="container" class="card p-5 ">

  <div id="content-holder" class="flex-row p-5">
      <div id="id-holder">{{certificateRequest.id}}</div>
      <div id="subject-details-holder" class="flex-column data">
        <div class="top-section ">

          Subject information: {{certificateRequest.subjectCommonName}}
        </div>
        <div class="bottom-section mt-3">
          <div class="subject-section mb-3">

            <p>Email: {{certificateRequest.subjectEmail}}</p>
            <p>Organization: {{certificateRequest.subjectOrganization}}, Unit: {{certificateRequest.subjectOrganizationUnit}}</p>
            <p>Location: {{certificateRequest.subjectCountry}}, {{certificateRequest.subjectState}}, {{certificateRequest.subjectLocation}}</p>
            
          </div>
        </div>
      </div>
    <div id="buttons" class="flex-row">
      <hr>
      <button mat-raised-button id="saveChanges" color="primary"
              (click)="onApproveClicked('250ms', '250ms')">
        Accept
      </button>
      <button mat-raised-button color="warn"
              (click)="onDenyClicked()">
        Decline
      </button>
    </div>
  </div>
  
  <app-snack-bar />
  
