<mat-card id="accommodation-card">
  <mat-card-content>
    <b class="title" [routerLink]="['/accommodation', accommodation.id]">{{accommodation.name}}</b>
    <img src="{{loadedImages[0]}}" alt="accommodation image" class="card-image" *ngIf="loadedImages">
    <div class="location">
      <mat-icon id="location-pin" fontIcon="room"></mat-icon>
      <p class="location">{{accommodationLocation}}</p>
    </div>

    <div class="description">
      <p>{{accommodation.description}}</p>
    </div>

    <div class="price-and-rating">
      <div class="price">
        <p class="final-price">1000€</p>
        <p class="price-per-night">100€/night</p>
      </div>

      <div class="rating">
        <mat-icon id="star" fontIcon="star"></mat-icon>
        <p class="rating">{{ratingDisplay}}</p>
      </div>
    </div>
    <button id="see-more-button" mat-raised-button color="primary" *ngIf="!accommodation.isBeingEdited" [routerLink]="['/accommodations', accommodation.id]">See more</button>
    <div class="disabled-see-more" [matTooltip]="'This accommodation is waiting modification approval. Please check later.'">
      <button mat-raised-button *ngIf="accommodation.isBeingEdited" id="disabled-see-more-button" [disabled]="true">See more</button>
    </div>
  </mat-card-content>
</mat-card>

