<div class="background-img">
  <div class="wrapper">
    <app-navbar> </app-navbar>
    <div class="content">
      <h2>My reviews</h2>
      <mat-divider></mat-divider>
      <mat-tab-group>
        <mat-tab label="Host Reviews">
          <app-host-review-cards></app-host-review-cards>
        </mat-tab>
        <mat-tab label="Accommodation Reviews">
          <app-accommodation-review-cards></app-accommodation-review-cards>
        </mat-tab>
      </mat-tab-group>
    </div>

  </div>
</div>
