.wrapper{
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;

}

.background-img{
  background-image: url('../../../../assets/white-background.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.9);
  margin-top: 0.1em;
  border-radius: 10px;
  width: 100%;
}

h2{
  color: #282828;
}


mat-divider{
  margin-top: 10px;
  color: #282828;
  width: 98%;
}
app-host-accommodation-cards{
  width: 96%;
}

mat-tab-group{
  width: 100%;
}

mat-tab{
  width: 100%;
}

app-accommodation-review-cards{
  width: 100%;
}

app-host-review-cards{
  width: 100%;
}
