<mat-toolbar>
  <img class="logo" src="../../../../assets/logo.png" alt=" ">
  <span class="app-title">Booking Baboon</span>
  <div id="right-section">
    <div id="icons">
      <div id="account-icon">
        <mat-icon (click)="openAccountPage()">account_circle</mat-icon>
      </div>
      <div id="notification-icon" [routerLink]="['/notifications/', loggedUserId]">
        <mat-icon *ngIf = "badge!='0'" matBadge="{{badge}}" matBadgeColor="warn" >notifications</mat-icon>
        <mat-icon *ngIf = "badge=='0'">notifications</mat-icon>
      </div>
    </div>
    <button mat-raised-button color="primary" [routerLink]="['/host', loggedUserId, 'reservations']">
      Reservations
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/host/accommodations']">
      My accommodations
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/accommodations']">
      Accommodations
    </button>
    <button mat-raised-button color="primary" [routerLink]="['/host/accommodations/summary-generator']">
      Summary generator
    </button>
    <button mat-raised-button color="warn" (click)="logout()">
      Log Out
    </button>
  </div>
</mat-toolbar>
