#overlay{
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
}

#wrapper{



  max-height: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;
  overflow-x: hidden;


  background: #f1f1f1;
  color: black;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-direction: column;

  align-items: center;
  position: absolute;
  width:40vw;
  height: 67vh;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 20px;


  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999999;
}

#desc{
  width: 80%;
  height: 30vh;
  resize: none;
}

#divider{
  color: #4b4b4b;
  width: 100%;
}

mat-form-field{
  width: 100%;
  border-radius: 20px;
}

#submit-report{
  width: 20%;
  background-color: #bd1d1d;
  color: #FFFFFF;
}


#row{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#close-icon{
  cursor: pointer;
  float: right;
}

mat-icon{
  float: right;
}


h1{
  text-align: center;
  margin-left: 38%;
}
