.wrapper{
  width: 90%;
  margin: 0 auto;
  padding-top: 2em;
}

.background-img{
  background-image: url('../../../../assets/white-background.png');
  background-size: cover;
  background-position: center;
  color: #fff;
  height: 100vh;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;

  gap: 8px;
  background: #FFFFFF;
  box-shadow: 0 4px 10px rgba(138, 142, 148, 0.05);
  margin: 5vh auto;
  width: 30vw;
}

mat-stepper{
  border-radius: 20px;
  padding-top: 1em;
  padding-top: 1em;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2em;
  padding-bottom: 2em;

  gap: 8px;
}

mat-form-field{
  width: 80%;
  margin: 0 auto;
}

mat-slide-toggle{
  width: 80%;
  margin: 0 auto;
}

button{
  float: right;
  margin-right: 10%;
}

#error{
  color: #cc3300;
}

mat-icon {
  color: #282828;
}

p{
  color: #282828;
}

h3{
  color: #282828;
}

.check{
  color: limegreen;
}

.success{
  display: flex;
  align-items: center;
  gap: 8px;
}
