<mat-toolbar>
    <img class="logo" src="../../../../assets/logo.png" alt=" ">
    <span class="app-title">Booking Baboon</span>
    <div id="right-section">
        <button mat-raised-button color="primary" [routerLink]="['/login']">
            Log In
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/register']">
            Register
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/accommodations']">
            Accommodations
        </button>
    </div>
</mat-toolbar>
