#mat-card{
  color: black;
  width: 100%;
  display: flex;
  flex-direction: row;
}

mat-card-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.title {
  margin-left: 5px;
  margin-top: 10px;
  color: #F7A12E;
  width: 100%;
}

mat-card-title{
  display: flex;
  flex-direction: row;
  width: 100%;
}


.card-image {
  background-color: #FFFFFF;
  height: 12em;
  width:12em;
  border-radius: 10px;
  background-size: cover;
  padding: 10px;
}

.location {
  display: flex;
  align-items: center;
}

p.location {
  margin: 10px;
  flex-shrink: 3;
  white-space: pre-wrap;
  float: left;
}

#location-pin {
  color: #F7A12E;
}

.price{
  display: flex;
}

.rating {
  float: right;
}


#rating {
  margin-top: 5px;
  margin-right: 10px;
  gap: 5px;
  justify-content: flex-end;
  width: 100%;
  display: flex;
  align-items: center;
}


p.rating {
  margin: 0;
  font-family: Poppins, "Helvetica Neue", sans-serif;
}

p.final-price{
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p.price-per-night {
  margin: 0px;
  font-size: 11px;
}

#star {
  float: right;
  color: #F7A12E;
}


#content{
  display: flex;
  flex-direction: column;
  width: 100%
}

mat-divider{
  color: #282828;
  width: 100%;
}

#buttons{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

#generate-report{
  background-color: #652a12;
  color: #FFFFFF;
  border-radius: 10px;
  width: 200px;
}

#right-buttons{
  justify-content: flex-end;
  width: 100%;
  display: flex;
  gap: 10px;
}

#edit{
  background-color:#5b7c99;
  color: #FFFFFF;
}

#delete{
  background-color: #ff4a4a;
  color: #FFFFFF;
}

app-monthly-summary-dialog{
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
