#accommodationList{
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  overflow-y: scroll;
  align-items: center;
  max-height: calc(100vh - 260px);
  background-color: rgba(243, 243, 243, 0.6);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}


app-host-accommodation-card{
  width: 100%;
  display: flex;
  margin: 10px auto;
}

#cards{
  width: 97%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
